.postmain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .postmain-wrapper {
    width: 815px;
    height: 600px;
    display: flex;
    border: 1px solid rgb(239, 239, 239);
    margin-top: 20px;
    margin-bottom: 30px;

    &--left {
      width: 479px;
      height: 100%;
      position: relative;
      border-radius: 4px;
      border: 1px solid rgb(239, 239, 239);
      background-color: rgb(255, 255, 255);

      .post-btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
        cursor: pointer;
        &--prev {
          left: 10px;
          top: 272px;
        }

        &--next {
          right: 10px;
          top: 272px;
        }

        .post-icon-inside {
          background-size: 440px 411px;
          background-image: url("/images/cdn_instagram1.png");
          background-repeat: no-repeat;
          width: 30px;
          height: 30px;
          z-index: 1000;
          &--prev {
            background-position: -129px -97px;
          }

          &--next {
            background-position: -160px -97px;
          }
        }
      }
    }

    &--right {
      width: 336px;

      .postmain-info {
        width: 100%;
        height: 60px;
        border-bottom: 1px solid rgb(239, 239, 239);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        &--left {
          display: flex;
          align-items: center;

          .name {
            margin-left: 10px;
            margin-top: 5px;
            color: #262626;
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
            font-family: $font-family-system;
            cursor: pointer;

            .ant-skeleton-input {
              width: 150px;
              margin-top: 6px;
            }

            &:hover {
              opacity: 0.5;
            }
          }

          .dot {
            margin-left: 5px;
            margin-top: 5px;
            color: #262626;
          }

          .follow-text {
            margin-top: 5px;
            margin-left: 5px;
            color: #0095f6;
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
            font-family: $font-family-system;
            cursor: pointer;

            &:hover {
              color: rgb(0, 55, 107);
            }
          }
        }

        &--right {
          &:hover {
            opacity: 0.5;
          }
        }
      }

      .postmain-listcmt {
        height: 381px;
        overflow: scroll;
        padding: 15px 10px;

        .postmain-user {
          width: 100%;
          display: flex;
          align-items: center;

          .username {
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
            margin-left: 5px;
            margin-right: 5px;
            cursor: pointer;

            &:hover {
              opacity: 0.5;
            }
          }

          .desc {
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
          }
        }

        .comment-container {
          width: 100%;
          margin-top: 10px;

          .comment-wrapper {
            width: 100%;

            .comment-top {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 10px;

              .comment-left {
                width: 100%;
                display: flex;
                align-items: flex-start;


                .comment-info {
                  width: 100%;
                  margin-left: 10px;

                  &--top {
                    .name {
                      color: rbg(38, 38, 38);
                      font-weight: 600;
                      font-size: 14px;
                      margin-right: 5px;
                      cursor: pointer;
                    }
                  }

                  &--bottom {
                    width: 100%;
                    display: flex;
                    margin-top: -2px;
                    margin-left: -14px;
                    justify-content: flex-start;

                    .time {
                      font-size: 12px;
                      color: #8e8e8e;
                      font-weight: 400;
                      cursor: pointer;
                      margin-right: 10px;
                    }

                    .like {
                      font-size: 12px;
                      color: #8e8e8e;
                      font-weight: 600;
                      cursor: pointer;
                      margin-right: 10px;
                    }

                    .reply {
                      font-size: 12px;
                      color: #8e8e8e;
                      font-weight: 600;
                      cursor: pointer;
                    }

                    .more-option-comment {
                      display: none;
                    }
                  }
                }
              }
            }

            .comment-bottom {
              cursor: pointer;
              margin-left: 50px;
              margin-bottom: 15px;

              .divider {
                border-bottom: 1px solid rgb(142, 142, 142);
                box-sizing: border-box;
                display: inline-block;
                flex-direction: column;
                flex-shrink: 0;
                font: inherit;
                font-size: 100%;
                height: 0;
                margin: 0;
                margin-right: 16px;
                padding: 0;
                position: relative;
                vertical-align: middle;
                width: 24px;
              }

              &--text {
                font-size: 12px;
                line-height: 16px;
                color: rgb(142, 142, 142);
                font-weight: 600;
              }
            }
          }
        }
      }

      .postmain-action {
        border-top: 1px solid rgb(239, 239, 239);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 15px;

        &--left {
          display: flex;
          align-items: center;

          .icon-item {
            margin-right: 10px;
            cursor: pointer;

            &--like {
              &:hover {
                animation: heart 0.6s ease;
              }
            }
          }
        }

        &--right {
          cursor: pointer;
        }
      }

      .time {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        .like-count {
          font-size: 14px;
          line-height: 18px;
          font-weight: 600;
          font-family: $font-family-system;
          cursor: pointer;
        }

        .date {
          font-size: 10px;
          color: #737373;
          margin-top: 3px;
          cursor: pointer;
        }
      }

      .postmain-comment {
        width: 100%;
        display: flex;
        border-top: 1px solid rgb(239, 239, 239);
        padding-top: 8px;

        img {
          margin-top: 4px;
          margin-right: 15px;
        }

        form {
          flex: 1;
          padding: 0px 15px;

          input {
            width: 100%;
            border: none;
            outline: none;
            height: 30px;
          }

          input::placeholder {
            font-weight: 400;
            color: rgb(142, 142, 142);
          }
        }

        .post-comment--text {
          color: #0095f6;
          font-weight: 600;
          font-size: 14px;
          cursor: pointer;
          margin: 0 10px;
          margin-top: 6px;

          &-disabled {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

@keyframes heart {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
