@import "./profile-detail";
@import "./profile-gallery";

.profile {
    width: 100%;
    min-height: 100vh;
    background-color: $color_white;
    margin-left: auto;
    padding: 30px 170px;

    .profile-reels {
        width: 935px;
    }
}
