.gallery {
  width: 100%;

  .listpost {
    width: 100%;

    &--wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .post-loading {
        display: flex;

        &--item {
          margin-right: 3px;
          margin-bottom: 3px;
        }
      }

      .post-item {
        margin-right: 4px;
        position: relative;

        &:last-child {
          margin-right: 0;
        }

        .carousel {
          position: absolute;
          top: 8px;
          right: 8px;
        }

        .mask {
          background: rgba(0, 0, 0, 0.3);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 3px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: all 0.2s ease;
          z-index: 100;

          &:hover {
            opacity: 1;
          }

          &--item {
            display: flex;
            align-items: center;
            padding: 0 15px;

            .icon {
              margin-right: 8px;
              background-repeat: no-repeat;
              height: 19px;
              width: 19px;
              background-image: url("/images/cdn_instagram4.png");

              &--heart {
                background-position: -340px -333px;
              }

              &--comment {
                background-position: -382px -333px;
              }
            }

            .number {
              font-size: 16px;
              line-height: 20px;
              color: rgb(255, 255, 255);
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
